<div class="btn-group">
    <a type="button" class="btn btn-info" routerLink="/app/set/pbx" >基础设置</a>
    <a type="button" class="btn btn-default" routerLink="/app/set/pbx/extension">分机管理</a>
    <a type="button" class="btn btn-default" routerLink="/app/set/pbx/queue">队列管理</a>
    <a type="button" class="btn btn-default" routerLink="/app/set/pbx/ivr">IVR管理</a>
    <a type="button" class="btn btn-default" routerLink="/app/set/pbx/route">路由管理</a>
    <a type="button" class="btn btn-default" routerLink="router">路由管理</a>
    <a type="button" class="btn btn-default" routerLink="router">路由管理</a>
  </div>
