<div class="btn-group">
    <a type="button" class="btn" [ngClass]="{'btn-info':memu==='basic','btn-default':memu!=='basic'}" routerLink="/app/set/pbx" >基础设置</a>
    <a type="button" class="btn" [ngClass]="{'btn-info':memu==='extension','btn-default':memu!=='extension'}" routerLink="/app/set/pbx/extension">分机管理</a>
    <a type="button" class="btn" [ngClass]="{'btn-info':memu==='queue','btn-default':memu!=='queue'}" routerLink="/app/set/pbx/queue">队列管理</a>
    <a type="button" class="btn" [ngClass]="{'btn-info':memu==='ivr','btn-default':memu!=='ivr'}" routerLink="/app/set/pbx/ivr">IVR管理</a>
    <a type="button" class="btn" [ngClass]="{'btn-info':memu==='conference','btn-default':memu!=='conference'}" routerLink="/app/set/pbx/conference">会议管理</a>
    <a type="button" class="btn" [ngClass]="{'btn-info':memu==='route','btn-default':memu!=='route'}" routerLink="/app/set/pbx/route">路由管理</a>
    <a type="button" class="btn" [ngClass]="{'btn-info':memu==='sounds','btn-default':memu!=='sounds'}" routerLink="/app/set/pbx/sounds">语音管理</a>
  </div>
