<section class="content-header">
    <h1>
      电话渠道管理
      <small>语音管理</small>
    </h1>
    <ol class="breadcrumb">
  
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header">
        <div class="row">
          <div class="col-sm-12">
           <app-pbx-memu [memu]="'sounds'"></app-pbx-memu>
          </div>
        </div>
      </div>

      <div class="box-body">
          <p>准备中，请稍后</p>
        </div>
    
        <div class="box-footer">
    
        </div>

    </div>
 
  </section>
