<div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <tr>
      <th>服务时间</th>
      <th>服务方式</th>
      <th>服务坐席</th>
      <th>服务状态</th>
      <th>工单内容</th>
    </tr>
    <tr>
      <td>11-7-2014</td>
      <td>webchat</td>
      <td>John Doe</td>
      <td>
        <span class="label label-success">Approved</span>
      </td>
      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    </tr>
    <tr>
      <td>219</td>
      <td>Alexander Pierce</td>
      <td>11-7-2014</td>
      <td>
        <span class="label label-warning">Pending</span>
      </td>
      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    </tr>
    <tr>
      <td>657</td>
      <td>Bob Doe</td>
      <td>11-7-2014</td>
      <td>
        <span class="label label-primary">Approved</span>
      </td>
      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    </tr>
    <tr>
      <td>175</td>
      <td>Mike Doe</td>
      <td>11-7-2014</td>
      <td>
        <span class="label label-danger">Denied</span>
      </td>
      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    </tr>
  </table>
</div>
