<section class="content-header">
  <h1>
    用户管理
    <small>列表</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="useradd">
        <i class="fa fa-user-plus fa-lg"></i>添加新用户</a>
    </li>
  </ol>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="姓名、邮件等关键字" [(ngModel)]="searchKey" (keyup.enter)="onEnter()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-info btn-flat">搜!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="dropup">
              <a href="javascript:void(0);">姓名
                <span class="caret"></span>
              </a>
            </th>
            <th class="dropdown">
              <a href="javascript:void(0);"> 账号
                <span class="caret"></span>
              </a>
            </th>
            <th>电话</th>
            <th>邮件</th>
            <th>部门</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
     
            <tr  *ngFor="let user of userList">
              <td> {{ user.basic.nickname }} </td>
              <td> {{ user.username }}
              </td>
              <td> {{ user.phone }}</td>
              <td> {{  user.mail }}</td>
              <td> {{ user.group }}</td>
              <td>
                <div class="btn-group">
                  <a type="button" class="btn btn-default btn-flat" routerLink="user/1">
                    <i class="fa  fa-edit text-green"></i>
                  </a>
                  <button type="button" class="btn btn-default btn-flat">
                    <i class="fa fa-unlock-alt text-yellow"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-flat">
                    <i class="fa fa-trash text-red"></i>
                  </button>
                </div>
              </td>
            </tr>
        
        </tbody>
        <tfoot>
          <tr>
            <th>姓名</th>
            <th>账号</th>
            <th>电话</th>
            <th>邮件</th>
            <th>部门</th>
            <th>操作</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="box-footer">

      <div class="row" *ngIf="paginationService.total > paginationService.pageSize">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <ngb-pagination class="d-flex justify-content-end" size="sm" [collectionSize]="paginationService.total" [(page)]="paginationService.page"
            [pageSize]="paginationService.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
        </div>
      </div>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</section>
