<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <app-sidebar-user-pannel></app-sidebar-user-pannel>
    <!-- search form -->
    <!-- <app-sidebar-search></app-sidebar-search> -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class=" treeview">
        <a routerLink="">
          <i class="fa fa-home"></i>
          <span>首页</span>
        </a>
      </li>
      <li class="active treeview" [class.active]="isActive[0]">
        <a href="javascript:void(0);" (click)="onTreeClick(0)">
          <i class="fa  fa-comments-o"></i>
          <span>我的服务</span>
          <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let room of rooms">
            <a routerLink="chat/{{room}}">
              <i class="fa fa-circle-o"></i> {{ room }}</a>
          </li>
          <li>
            <a routerLink="chat/1000">
              <i class="fa fa-circle-o"></i> 1000</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="#">
          <i class="fa fa-clock-o"></i>
          <span>服务历史</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class="fa  fa-list"></i>
          <span>我的工单</span>
          <small class="label pull-right bg-green">5</small>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class="fa fa-tasks"></i>
          <span>我的任务</span>
          <small class="label pull-right bg-yellow">3</small>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class="fa  fa-street-view"></i>
          <span>客户管理</span>
        </a>
      </li>
      <li class="treeview" [class.active]="isActive[1]">
        <a href="javascript:void(0);" (click)="onTreeClick(1)">
          <i class="fa fa-area-chart"></i>
          <span>统计报表</span>
          <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="pages/charts/chartjs.html">
              <i class="fa fa-circle-o"></i> 汇总统计</a>
          </li>
          <li>
            <a href="pages/charts/morris.html">
              <i class="fa fa-circle-o"></i> 电话服务报表</a>
          </li>
          <li>
            <a href="pages/charts/flot.html">
              <i class="fa fa-circle-o"></i> 在线服务报表</a>
          </li>
          <li>
            <a href="pages/charts/inline.html">
              <i class="fa fa-circle-o"></i> 微信服务报表</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="#">
          <i class="fa  fa-graduation-cap"></i>
          <span>知识库</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class="fa   fa-eye"></i>
          <span>实时监控</span>
        </a>
      </li>
      <li class="treeview" [class.active]="isActive[2]">
        <a href="javascript:void(0);" (click)="onTreeClick(2)">
          <i class="fa fa-cogs"></i>
          <span>基础设置</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="pages/UI/general.html">
              <i class="fa fa-circle-o"></i> 公司信息</a>
          </li>
          <li>
            <a href="pages/UI/icons.html">
              <i class="fa fa-circle-o"></i> 客服管理</a>
          </li>
          <li>
            <a href="pages/UI/buttons.html">
              <i class="fa fa-circle-o"></i> 角色管理</a>
          </li>
          <li>
            <a href="pages/UI/sliders.html">
              <i class="fa fa-circle-o"></i> 业务分组</a>
          </li>
        </ul>
      </li>

      <li class="treeview" [class.active]="isActive[3]">
        <a href="javascript:void(0);" (click)="onTreeClick(3)">
          <i class="fa fa-tty"></i>
          <span>渠道管理</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="pages/UI/general.html">
              <i class="fa fa-circle-o"></i>在线聊天</a>
          </li>
          <li>
            <a href="pages/UI/icons.html">
              <i class="fa fa-circle-o"></i> 电话接入</a>
          </li>
          <li>
            <a href="pages/UI/buttons.html">
              <i class="fa fa-circle-o"></i>微信接入</a>
          </li>
          <li>
            <a href="pages/UI/sliders.html">
              <i class="fa fa-circle-o"></i>电子邮件</a>
          </li>
        </ul>
      </li>

      <li class="treeview" [class.active]="isActive[4]">
        <a href="javascript:void(0);" (click)="onTreeClick(4)">
          <i class="fa  fa-exchange"></i>
          <span>业务设置</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="pages/UI/general.html">
              <i class="fa fa-circle-o"></i>在线聊天</a>
          </li>
          <li>
            <a href="pages/UI/icons.html">
              <i class="fa fa-circle-o"></i> 电话接入</a>
          </li>
          <li>
            <a href="pages/UI/buttons.html">
              <i class="fa fa-circle-o"></i>微信接入</a>
          </li>
          <li>
            <a href="pages/UI/sliders.html">
              <i class="fa fa-circle-o"></i>电子邮件</a>
          </li>
        </ul>
      </li>

      <li class="treeview" [class.active]="isActive[5]">
        <a href="javascript:void(0);" (click)="onTreeClick(5)">
          <i class="fa  fa-btc"></i>
          <span>账户管理</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="pages/UI/general.html">
              <i class="fa fa-circle-o"></i>账户信息</a>
          </li>
          <li>
            <a href="pages/UI/icons.html">
              <i class="fa fa-circle-o"></i> 历史订单</a>
          </li>
          <li>
            <a href="pages/UI/buttons.html">
              <i class="fa fa-circle-o"></i>账单管理</a>
          </li>
        </ul>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
